@charset "UTF-8";
// color palette : British Palette
// #00a8ff - 하늘색
// #487eb0 - 군청색
// #fbc531 - 노란색
// #4cd137 - 연두색
// #2f3640 - 흑색

$marginCenter : 0 auto;
$width : 100%;
$fontColor : #2f3640;

@mixin flex($x, $y, $w){
    display : flex;
    justify-content: $x;
    align-content: $y;
    flex-wrap: $w;
}

@mixin position($x, $y, $z, $w){
    position: absolute;
    left: $x;
    top: $y;
    z-index:$z;
    width: $w;
    @if $x == 50% && $y == 50% {
        transform: translate(-50%, -50%);
    } @else if $x == 50% {
        transform: translateX(-50%);
    } @else if $y == 50% {
        transform: translateY(-50%);
    }
}


html,
body {
  margin:0;
  padding:0;
  width : $width;
  height : $width;
}

* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  
}

#wrap {
  width:100%;
  @include flex(none, center, nowrap);
  flex-flow:column wrap;
  -ms-overflow-style:none;
  color : $fontColor;
}

// body::-webkit-scrollbar {
//   display:none;
// }

ul,
ol,
li {
  list-style:none;
}

a {
  text-decoration:none;
  color:#333;
}

/* -- header start --  */

header {
    width:100%;
    height:100px;
    background-color: #dcdde1;
    @include flex(center, center, nowrap);
    opacity:0.8;
    position:fixed;
    z-index:200;
    
    .fa-bars {display: none;}

    img {
        width:110px;
        height:93.75px;
        &:hover {
        opacity:1;
        cursor:pointer;
        
        }
    }

    h1 {
        color: #353b48;
        font-size: 1.95vw;
        line-height:110px;
        margin:auto 20px;
    }

    h2 {
      display:none;
    }
   
    button {
        width:110px;
        line-height:50px;
        margin:auto 0;
        color: #2f3640;
        font-size: 18px;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        background-color: #fbc531;

        &:hover {
        cursor:pointer;
        background-color:#4cd137;
        } 
    }
}
/* -- header end --  */

/* -- .top_page start --  */

.top_page {
  width:80%;
  height:650px;
  margin: $marginCenter;
  @include flex(space-evenly, none, nowrap);
  align-items: center;  
}

.left {
  width:70%;
  height:220px;
  display:inline-flex;
  flex-flow:column;
  justify-content:center;
  line-height:70px;
  padding: 20px;
    
  h2 {
    font-size:80px;
    margin:2.56% 0;
    }
    
  p {
    padding:10px;
    font-size:25px;
    line-height:40px;
    }

}

.right {
  width:150px;
  height:400px;
  line-height:60px;
  font-size:20px;
  padding:40px 20px;
  
  
}

.slide_con {
  width:100%;
  height:650px;
  
  display:flex;
  justify-content:flex-end;
}

.slide {
  width:70%;
  position:relative;
}

.slide > li {
 width:100%;
 position:absolute;
 top:0;
 right:0;
}   

.slide > li:not(:first-child) {
 display:none;
}

.slide img {
 width:100%;
}   

.slide p {
 @include position(50%, 50%, 2, 170px);
 height:120px;
 padding:15px;
 text-align: center;
 background-color: #00a8ff;
 border-radius:10%;
 font-size:17px;
}

.slide button {
 @include position(50%, 57%, 3, 80px);
 transform: translate(-50%,-50%);
 height:25px;
 border:none;
}

/* -- .slide end --  */

/* -- .save start --  */

.save {
 width: 95%;
 height: auto;
 margin:50px auto;
 
}

.save h1 {
 width:70%;
 margin: 50px auto;
 font-size:55px;
 text-align:center;
 letter-spacing: 1px;
}

.list {
 width:70%;
 margin:0 auto;
}

.save li {
 line-height:38px;
 font-size:23px;
 text-align:right;
 letter-spacing: 2px;
}

.save li:hover a {
 text-decoration-line:underline;
 color:cornflowerblue;

}

 .back {
 width:100%;
 height:550px;
 margin:50px 0;
 background-image:url("../img/main/store_slide2.jpg");
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
}

/* -- .save end --  */

/* -- .store start --  */

.store {
 width:100%;
 margin:60px auto;
 height:auto;
}

.store h2 {
 text-align: center;
 margin:100px 0 50px;
 font-size:35px;
}

.store h5 {
 text-align: center;
}

.store_slide {
 width:80%;
 height:420px;
 margin:30px auto;
}

.store_slide img {
 width:100%;
}

.store p {
 font-size:20px;
 color:skyblue;
 margin-left:200px;
}

.store_img {
  max-width: 1200px;
  @include flex(space-around, none, wrap);
  margin: 0 auto;
}


.s_img{
  width: 540px;
  margin: 10px auto;
  overflow: hidden;
  img{
  display: block;
  margin: 0 auto;
  }
}

.store_img img:hover {
 opacity:0.7;
 transform: scale(0.9);
}
/* -- .store end --  */

/* -- .video start --  */
.video {
 width: 100%;
 height: auto;
 margin-top: 50px;
}

video {
 width:100%;
}

.video h2 {
 margin:10px auto;
 text-align:center;
 color:#487eb0;
 padding:10px;
 font-size:30px;
}

#vi_bottom {
 width:100%;
 display:flex;
 flex-wrap:wrap;
 justify-content: center;
 align-content:space-around;
 margin-top:30px;
}

.vi_left {
 width: 572px;
 height:400px;
 text-align: center;
 padding:40px;
 border: 25px solid #487eb0;
 border-radius: 4px;
 margin:20px;
}

.vi_left h3 {
 font-size: 25px;
 margin-bottom:30px;
}

.vi_left p {
 margin:20px 0;
 font-size: 18px;
 line-height: 28px;
 
}

.vi_right {
 width: 572px;
 height:400px;
 margin:20px;
 border: 25px solid #487eb0;
 border-radius: 4px;
}
/* -- .video end --  */

/* -- footer start --  */

footer {
 max-width: 1200px;
 height: 300px;
 display:flex;
 flex-wrap:wrap;
 margin: 0 auto;
 justify-content: space-around;
}

.foot_box {
  width: 292px;
  margin-right: 6px;
  background-color: #718093;
  border-radius: 4px;
  padding: 20px;
  line-height: 30px;
  text-align: center;
}

/* -- footer end --  */

@media(max-width:1024px){
  
  .slide_con  {
    width: auto;
    height: 500px;
    .slide {
      width: 100%;
    }
  }
}

@media(min-width:768px) and (max-width:1024){
  header > h2 {
    display:none;
   
  }
}

@media(max-width:767px){
  header {
    display:flex;
    justify-content: space-around;
    height:100px;
    h1 {display:none;}
    img {width:110px; height:89px;}
    
    .fa-bars {
      display: block;
      font-size: 45px;
      margin: auto 0;
    }
  }

  .top_page {
    @include flex(center, center,  nowrap);
    flex-direction: column-reverse;
    height: 500px;

    .left {
      width:100%;
      h2 {font-size:10vw;}
      p {font-size:3.5vw;}
    }
    .right {
      width:100%;
      height:30px;
      margin-bottom: 30px;
      padding:0;
      @include flex(space-evenly, center, nowrap);
      display: none;
    }

    .fa-bars {
      display: block;
      font-size: 30px;
    }
  }
  
  .slide_con {
    height: 350px;
  }

  .save {
    h1 {
      font-size: 8vw;
    }
  }
  .store_slide {
    height: 0;
    img {
      display: none;
    }
  }
}

@media(max-width:320px) {
  header {
    width: 100%;
  }

  .top_page {
    width: 100%;
    margin: 0 auto;
    .left {
      margin: 0 auto;
    }
  }
   
  .fa-bars {
    display: block;
  }

  
}